.list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1rem;
    max-width: 90%;
    margin: 0 auto;

}

/* larger device */
@media (max-width: 1527px) {
    .list{
        grid-template-columns: 1fr 1fr ;
        max-width: 70%;
    }
  }