.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    height: 70px;
    background-color: #000;
    color: white;
    padding: 0 4rem;
}

.brand{
    font-weight:300;
    font-size: 2.2rem;
}
.navbar-menu{
    margin: 0;
    display: flex;
    justify-content: space-around;
}
.login:hover{
    color:#999999;
    cursor: pointer;
}

.navbar a{
    text-decoration: none;
    color: white;
    margin: 0 0.5rem;
}
.navbar a:hover{
    color: gray;
}
.navbar-menu a:focus{
    border-bottom: white 2px solid;
}
.item{
    text-transform: capitalize;
    font-size: 1.6rem;
}
