
.empty-container{
    text-align: center;
}
.btn-return{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 10px 0;
    border-radius: 30px;
    transition: background 0.5s;
    cursor: pointer;
}