.card-count{
    width: 300px;
    margin: 0 auto;
}

.count {
    display: flex;
    flex-direction: row;
    border: solid black 1px;
    justify-content: space-between;
    align-items: center;
    
}

.btn-count {
    /* width: 50px; */
    padding: 0.2rem 1.5rem;
    background-color: black;
    color: white;
    border: solid black 1px;
}

.btn-count:hover {
    border: solid white 1px;
}
.btn-count:active {
    background-color: white;
    color: black;
}

.btn-add {
    padding: 0.2rem 1.5rem;
    background-color: white;
    border: solid black 1px;
    width: 100%;
}

.btn-add:hover {
    background-color: black;
    color:white;
}
.btn-add:active {
    background-color: white;
    color: black;
}

.fluid{
    width: 100%;
}

