
.count span{
    padding: 0 10px;
}
.btn-count {
    padding: 0.2rem 1rem;
    background-color: #ff523b;
    color: white;
}

.btn-count:active {
    background-color: white;
    color: black;
}


.btn-add {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 25px;
    margin: 20px 0 30px;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn-add:hover{
    background: #563434;
}
