.card{
    width: 100%;
    background-color: #fff;
}

.card .card-img{
    position: relative;
    width: 100%;
    height: 410px;
    overflow: hidden;
}
.card .card-img img {
    position: absolute;
    top:0; left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out ;
    transform-origin: right;
}

.card:hover .card-img img {
    transform: scale(1.2);
}

.card .card-content {
    padding: 10px;
}
.card .card-content .product-name h3 {
    font-size: 1.8rem;
    font-weight: 500;
    color: #333;
    text-transform: capitalize;
}

.card .card-content .price-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card .card-content .price-rating h2 {
    font-size: 2rem;
    color: #ff2020;
    font-weight: 500;
}
.card .card-content .price-rating .fa{
    color: #ffd513;
    cursor: pointer;
    font-size: 1.5rem;
}